* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #0B1926;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search {
  position: relative;
}

.search input {
  border: none;
  outline: none;
  background: none;
  width: 88.5px;
  height: 50px;
   border: 2px solid #db4a1a;
  border-radius: 50px;
  box-shadow: 0px 0px 10px #F35420, 0px 0px 15px #db4a1a;
transition: .5s ease-in-out;
}

::placeholder {
  font-size: 20px;
  font-family: Candara Light;
  color:#fff;
  padding-left: 20px;
}
.search a{
  position: absolute;
  width: 80px;
  height: 42px;
  top:calc(50% - 21px);
  right: 4.5px;
  display: block;
  background-color: #FC5520;
  border-radius: 50px 50px 50px 50px;
  text-align: center;
  transition: .5s ease-in-out;
}
.search a .fas{
  line-height: 42px;
  font-size: 23px;
  color:#0B1926;
}
.search:hover input{
width: 300px;
}
.search:hover a{
  border-radius: 5px 50px 50px 5px;
  }